name: Test Get Windows IP
on:
  [push]
jobs:

  get_windows_ip:
    name: Get Windows IP
    runs-on: Windows
    # outputs:
    #   windows_ip: ${{ steps.get_ip.outputs.windows_ip }}
    steps:
    - name: Get Windows IP
      id: get_ip
      run: |
        python -c "import socket;a=('8.8.8.8', 80);s=socket.socket(socket.AF_INET, socket.SOCK_DGRAM);s.connect(a);print(f'windows_ip={s.getsockname()[0]}')" >> windows_ip_address.txt
    - uses: actions/upload-artifact@v3
      with:
        name: windows_ip_address_file
        path: windows_ip_address.txt

  show_windows_ip:
    name: Show Windows IP
    needs: get_windows_ip
    runs-on: Linux
    - uses: actions/download-artifact@v3
      with:
        name: windows_ip_address_file
 
    - name: Read Windows IP
      id: read_ip_address
      run: |
        value=$( cat windows_ip_address.txt )
        echo $value
        echo "windows_ip=$value" >> $GITHUB_OUTPUT
  
    - name: Echo IP Address
      run: |
        echo "${{ steps.read_ip_address.outputs.windows_ip }}"
