name: Test Get Windows IP
on:
  [push]
jobs:

  get_windows_ip:
    name: Get Windows IP
    runs-on: Windows
    outputs:
      windows_ip: ${{ steps.get_ip.outputs.windows_ip }}
    steps:
    - name: Get Windows IP
      id: get_ip
      shell: powershell
      run: |
        python -c "import socket;a=('8.8.8.8', 80);s=socket.socket(socket.AF_INET, socket.SOCK_DGRAM);s.connect(a);print(f'windows_ip={s.getsockname()[0]}')" | Out-File -FilePath $Env:GITHUB_OUTPUT -Encoding utf8 -Append
    # - uses: actions/upload-artifact@v3
    #   with:
    #     name: windows_ip_address_file
    #     path: windows_ip_address.txt

  get_linux_ip:
    name: Get Linux IP
    runs-on: Linux
    outputs:
      linux_ip: ${{ steps.get_ip.outputs.linux_ip }}
    steps:
    - name: Get Linux IP
      id: get_ip
      run: |
        value=$( hostname -I | awk {'print $1'} )
        echo "linux_ip=$value" >> $GITHUB_OUTPUT

  show_windows_ip_on_linux:
    name: Show Windows IP on Linux
    needs: get_windows_ip
    runs-on: Linux
    steps:
    # - uses: actions/download-artifact@v3
    #   with:
    #     name: windows_ip_address_file
 
    # - name: Read Windows IP
    #   id: read_ip_address
    #   run: |
    #     value=$( cat windows_ip_address.txt )
    #     echo $value
    #     echo "windows_ip=$value" >> $GITHUB_OUTPUT
  
    # - name: Show Windows IP
    #   run: |
    #     echo "${{ steps.read_ip_address.outputs.windows_ip }}"

    - name: Show Windows IP
      run: |
        echo "${{ needs.get_windows_ip.outputs.windows_ip }}"


  show_linux_ip_on_linux:
    name: Show Linux IP on Linux
    needs: get_linux_ip
    runs-on: Linux
    steps:
      - name: Show Linux IP on Linux
        run: |
          echo ${{ needs.get_linux_ip.outputs.linux_ip }}

  show_linux_ip_on_windows:
    name: Show Linux IP on Windows
    needs: get_linux_ip
    runs-on: Windows
    steps:
      - name: Show Linux IP on Windows
        run: |
          echo ${{ needs.get_linux_ip.outputs.linux_ip }}