on: push
jobs:
  deploy:
    runs-on: self-hosted
    # runs-on: ubuntu-latest
    steps:
    - name: Wait for a Message
      uses: soda480/wait-for-message-action@main
      with:
        command: wait
        port: 45678
        message: "ready to proceed"
        timeout: 120