on: push
jobs:
  deploy-windows:
    runs-on: Windows
    steps:
    - name: Task1 - Sleep for 30 seconds
      run: Start-Sleep -s 30
      shell: powershell
    - name: Wait for a Message
      uses: soda480/wait-for-message-action@wait-composite
      with:
        command: wait
        port: 8080
        message: "ready to proceed"
        timeout: 120
        shell: cmd
    - name: Task2 - Sleep for 30 seconds
      run: Start-Sleep -s 30
      shell: powershell