on: push
jobs:
  deploy-windows:
    runs-on: Windows
    steps:
    - name: Windows Task1
      run: Start-Sleep -s 60
      shell: powershell
    - name: Wait for Linux server to be ready message
      uses: soda480/wait-for-message-action@wait-composite
      with:
        port: 8080
        message: "Linux server is ready"
        shell: cmd
    - name: Windows Task2
      run: Start-Sleep -s 90
      shell: powershell
    - name: Send Windows is ready message
      uses: soda480/wait-for-message-action@send-composite
      with:
        ip: 192.168.1.199
        port: 8080
        message: "Windows server is ready"
        shell: cmd
    - name: Windows Task3
      run: Start-Sleep -s 5
      shell: powershell
  deploy-linux:
    runs-on: Linux
    steps:
    - name: Linux Task1
      run: sleep 10
      shell: bash
    - name: Send Linux server is ready message
      uses: soda480/wait-for-message-action@send-composite
      with:
        ip: 192.168.1.184
        port: 8080
        message: "Linux server is ready"
        shell: bash
    - name: Linux Task2
      run: sleep 20
      shell: bash
    - name: Wait for Windows server to be ready message
      uses: soda480/wait-for-message-action@wait-composite
      with:
        port: 8080
        message: "Windows server is ready"
        shell: bash
    - name: Linux Task3
      run: sleep 5
      shell: bash