on: push
jobs:
  deploy-windows:
    runs-on: Windows
    steps:
    - name: Task1
      shell: cmd
      run: |
        echo "executing task1"
        timeout 30
    - name: Wait for a Message
      uses: soda480/wait-for-message-action@wait-composite
      with:
        command: wait
        port: 8080
        message: "ready to proceed"
        timeout: 120
    - name: Task2
      run: |
        echo "executing task2" |
        timeout 30