name: test-with-output
on: push
jobs:
    get_windows_ip:
        runs-on: Windows
        outputs:
            windows_ip: ${{ steps.get_ip.outputs.windows_ip }}
        steps:
            - name: Get Windows IP
              id: get_ip
              run: |
                python -c "import socket;print(f'windows_ip={socket.gethostbyname(socket.gethostname())}')" >> $GITHUB_OUTPUT
                python -c "import socket;print(f'windows_ip={socket.gethostbyname(socket.gethostname())}')" 
    get_linux_ip:
        runs-on: Linux
        outputs:
            linux_ip: ${{ steps.get_ip.outputs.linux_ip }}
        steps:
            - name: Get Linux IP
              id: get_ip
              run: |
                python -c "import socket;print(f'linux_ip={socket.gethostbyname(socket.gethostname())}')" >> $GITHUB_OUTPUT
                python -c "import socket;print(f'linux_ip={socket.gethostbyname(socket.gethostname())}')" 
    windows_workflow:
        runs-on: Windows
        needs: get_linux_ip
        steps:
            - name: Echo Linux IP
              run:
                echo "${{ needs.get_linux_ip.outputs.linux_ip }}"
    linux_workflow:
        runs-on: Linux
        needs: get_windows_ip
        steps:
            - name: Echo Windows IP
              run: 
                echo "${{ needs.get_windows_ip.outputs.windows_ip }}"
