name: Test Contexts
on: workflow_dispatch
jobs:
  get_linux_ip:
    name: Get Linux IP
    runs-on: ubuntu-latest # Linux
    outputs:
      linux_ip: ${{ steps.get_ip.outputs.linux_ip }}
    steps:
    - name: Get Linux IP
      id: get_ip
      run: |
        value=$( hostname -I | awk {'print $1'} )
        echo "linux_ip=$value" >> $GITHUB_OUTPUT
        echo "github.run_id: ${{ github.run_id }}"
        echo "github.run_number: ${{ github.run_number }}"
        echo "github.run_attempt: ${{ github.run_attempt }}"
        echo "runner.job: ${{ github.job }}"
        echo "runner.os: ${{ runner.os }}"
        echo "runner.name: ${{ runner.name }}"
  something_else:
    name: Something Else
    runs-on: ubuntu-latest # Linux
    steps:
    - name: Print Context
      run: |
        echo "github.run_id: ${{ github.run_id }}"
        echo "github.run_number: ${{ github.run_number }}"
        echo "github.run_attempt: ${{ github.run_attempt }}"
        echo "runner.job: ${{ github.job }}"
        echo "runner.os: ${{ runner.os }}"
        echo "runner.name: ${{ runner.name }}"
        echo "runner.name: ${{ runner.name }}"
