name: test
on: push
jobs:

    get-windows-ip-address:
        runs-on: windows-latest
        outputs:
            ip-address: ${{ steps.windows-ip-address.output.ip_address }}
        steps:
            - name: Get Windows IP address
              id: windows-ip-address
              shell: cmd
              run:
                python -c "import socket;print(f'ip_address={socket.gethostbyname(socket.gethostname())}')" >> $GITHUB_OUTPUT

    get-linux-ip-address:
        runs-on: ubuntu-20.04
        outputs:
            ip-address: ${{ steps.linux-ip-address.output.ip_address }}
        steps:
            - name: Get Linux IP address
              id: linux-ip-address
              shell: bash
              run:
                python -c "import socket;print(f'ip_address={socket.gethostbyname(socket.gethostname())}')" >> $GITHUB_OUTPUT

    windows-workfow:
        runs-on: windows-latest
        needs: get-linux-ip-address
        steps:
            - name: Echo Linux IP
              run:
                echo ${{ needs.get-linux-ip-address.outputs.ip-address }}

    linux-workflow:
        runs-on: ubuntu-20.04
        needs: get-windows-ip-address
        steps:
            - name: Echo Windows IP
              run: 
                echo ${{ needs.get-windows-ip-address.outputs.ip-address }}
